/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





.bg{
  width: 100%;
  height: 100%;
  background: linear-gradient(#392D5A, #371956);
  position:fixed;
}

.triangle-container {
  top:-30%;
  left:-2%;
  position:absolute;
}

.left-triangles{


}

.content{
  width:500px;
  position:absolute;
  right:10%;
  top:20%;
}

.content h1{
  font-size:33px;
  color:#AE94EB;
  opacity: 0.90;
  font-family: handel-gothic, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.content p{
  font-size:20px;
  color: #AE94EB;
  opacity: 0.67;
  font-family: handel-gothic, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: justify;
}



.svg-container{
  position:fixed;
  z-index: 3100;
  left:9%;
  top:50%;
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
  Color='#444')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(-5px 10px 11px rgba(0,0,0,0.4));
  max-width:100%;
  height:auto;
}

.svg-cube {
  position:fixed;
  z-index: 3100;
  left:25%;
  top:35%;
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
  Color='#444')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(-5px 10px 11px rgba(0,0,0,0.4));
  max-width:100%;
  height:auto;
}

.play-button {
  background-color: #9400BF;
  border:none;
  color: #AE94EB;
  padding: 15px 32px;
  text-decoration: none;
  font-size:17px;
  font-family: handel-gothic, sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 5px;
  margin-top: 20px;
  box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.20);
}


.play-button:hover{
  background-color: #ac00d7;
  color: #c1a6ff;
  box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.12);

}


.darken{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position:fixed;
  width:100%;
  height: 100%;
  z-index: 3000;
  animation: dark 2s forwards;
}

.hidden{
  visibility: hidden;
}

.reveal{
  animation: reveal 2s forwards;
}




iframe{
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-150px;
  margin-top:-150px;
  transform: rotate(180deg);
}




@keyframes dark{
  0%   {  background-color: rgba(0,0,0,0);}
  100% {  background-color: rgba(0,0,0,0.5);}
}

@keyframes reveal{
  0%   {  opacity: 0;  }
  100% {  opacity: 1;  }
}

@keyframes hidden-animated{
  0%   {  opacity: 1;  }
  100% {  opacity: 0;  }
}


@keyframes shake{
  0%   {  transform: rotate(5deg);  }
  25% { transform: rotate(0deg);   }
  50% { transform: rotate(-5deg);   }
  100% { transform: rotate(0deg);   }
}

.shake{
  animation: shake 0.3s ease-in-out;
}

.hidden-animated{
  animation: hidden-animated 1s ease-in-out forwards;
}

.intro{
  width:100%;
  height:100%;
  position:relative;
}

.block{
  width: 20%;
  height:100%;
  background: linear-gradient(#130c23, #232041);
  z-index: 5000;
}

.one{
  left:0;
  position:fixed;
}
.two{
  left:20%;
  position:fixed;
}
.three{
  left:40%;
  position:fixed;
}
.four{
  left:60%;
  position:fixed;
}
.five{
  left:80%;
  position:fixed;
}

@keyframes reveal-block{
  0%   {  transform: translateY(0%);  }
  100% {  transform: translateY(100%);  }
}

.reveal-block {
  animation: reveal-block 2s ease forwards;
}
